@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$background-color: #F0F0F0;
$main-color: rgb(28, 126, 187);
$light: #ffffff;
$dark: rgb(50, 50, 58);
$orange: rgb(249, 142, 51);
$red: rgb(240, 89, 89);
$green: rgb(35, 174, 137);

$wide: 300px;
$corner: 10px;
$shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: poppins;
    color: inherit;
    margin: 0;
    padding: 0;
}

@mixin tablet {
    @media only screen and (min-width:1200px) {
        @content;
    }
}

html {
    height: 100%;
}


.toggle {
    animation: 1s fade;

}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


body {
    background: $background-color;
    height: 100%;

    header {
        /*
        position: sticky;
        top: 0; */
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;

        img {
            width: 15%;
        }

        @include tablet {
            flex-direction: row;

            .logo {
                width: $wide;
                padding: 1em;


            }

            img {
                width: 35%;
            }


        }

        >* {

            width: 100%;
            padding: 0em;
            justify-content: center;
            align-items: center;
        }

        .logo {
            background-color: #32323A;
            text-align: center;
            display: flex;
            justify-content: space-between;
            color: white;
            min-height: 60px;
            position: relative;
            padding: 1em 3em;

            .icon {
                cursor: pointer;
                background: $red;

                @include tablet {
                    position: absolute;
                    right: -20px;
                }

                .fa-bars {
                    color: white;
                }
            }

            @include tablet {
                justify-content: center;
            }

        }

        nav {
            >* {
                padding: 1em 3em;
            }

            background-color: $light;
            display: flex;
            justify-content: space-between;

            img {
                height: 25px;
                width: 25px;
                border-radius: 50%;
                object-fit: cover;
            }

            a {
                display: inline-block;
            }


            .icon:hover {
                background: $dark;
                color: $light;
                cursor: pointer;
            }

            .icon:not(:first-child) {
                margin-left: 1em;
            }

            .profile {
                display: flex;
            }
        }
    }

    .icon {
        position: relative;
        width: 40px;
        height: 40px;
        background: #F6F6F6;
        color: $main-color;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .note {
            position: absolute;
            top: -.2em;
            right: -.2em;
            background: #23AE89;
            color: $light;
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            user-select: none;
        }
    }



    .wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
        position: relative;
        min-height: calc(100vh - 8vh);

        @include tablet {
            flex-direction: row;
        }



        aside {
            overflow: hidden;
            width: 100%;
            color: $light;
            transition: 1s;
            background: $dark;
            height: 0;
            transition: 1s;

            @include tablet {
                position: static;
                display: initial;
                width: 2.5%;
                height: auto;
            }



            .box {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 10px;
                font-size: 14px;
                gap: 20px;

                @include tablet {

                    justify-content: space-between;
                }

                .wrap {
                    width: 20px;

                    @include tablet {
                        width: 10px;

                    }
                }

                a {
                    display: inline-block;
                    font-size: initial;
                    transition: .5s;
                    width: 400px;
                    color: $light;

                    @include tablet {
                        opacity: 0;
                    }

                }

            }
        }

        main {
            width: 100%;
            padding: 3em;

            h1,
            p {
                margin: 0;
                text-align: center;
            }

            h1 {
                margin-bottom: 1em;
                text-align: center;
                font-size: 2.5rem;
            }

            .buttons {
                display: flex;
            }

            button {
                background: $main-color;
                color: white;
                display: block;
                margin: 1px;
                padding: .4em 1em;
                border: none;
                cursor: pointer;
                border-radius: 4px;
                font-family: poppins;
                margin-bottom: 1em;
                transition: 0.5s;
            }

            section {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 3em;
                margin-bottom: 3em;

                article {
                    border-radius: $corner;
                    position: relative;
                    min-height: 150px;
                    background: $light;
                    box-shadow: $shadow;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }



                .block {
                    display: block;
                    padding: 2em;

                    h2 {
                        margin-bottom: 1em;
                    }

                    #storage {
                        height: 250px;

                        @include tablet {
                            height: 400px;
                        }
                    }

                    .tap-information {

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 85%;

                        .tap {
                            display: flex;
                            justify-content: space-between;
                        }

                        .bar {
                            background: lightgray;
                            height: 5px;
                            position: relative;
                            border-radius: 20px;
                            margin-bottom: 0.5em;
                        }

                        .progress {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 40%;
                            height: 100%;
                            border-radius: 20px;
                            background: $main-color;
                        }
                    }




                }







            }

            .section-table {
                padding: 2em;
                display: block;
                border-radius: $corner;
                background: $light;
                box-shadow: $shadow;
                overflow-x: auto;
                position: relative;

                h2 {
                    margin-bottom: 1em;
                }

                table {
                    overflow-x: auto;
                    text-align: left;
                    width: 100%;
                    border-collapse: collapse;

                    tbody::before {
                        content: '@';
                        display: block;
                        line-height: .5em;
                        text-indent: -99999px;
                    }

                    tbody tr {
                        border-bottom: 1px solid lightgray;
                    }

                    td,
                    th {
                        padding: 1.5em 3em 1.5em 0;
                    }

                    [data-info=description] span,
                    [data-info=status] span {

                        background: $main-color;
                        color: white;
                        margin: 1px;
                        padding: .4em 1em;
                        border: none;
                        border-radius: 4px;
                        font-family: poppins;
                        margin-bottom: 1em;
                        transition: 0.5s;
                        display: inline-block;
                        text-align: center;
                    }

                    [data-info=description] span {
                        cursor: pointer;
                    }
                }

            }
        }

        #overview .small-card {
            color: $light;
        }

    }

    .login {
        height: 100%;
        display: grid;
        place-items: center;

        h1 {
            margin-bottom: 1em;
        }

        form {
            width: 100%;
            max-width: 400px;
            border-radius: $corner;
            background: $light;
            box-shadow: $shadow;
            display: flex;
            flex-direction: column;
            padding: 2em;

            input {
                display: block;
                margin-bottom: .0em;

            }

            a {
                margin-bottom: .5em;
            }

            .error {
                margin-top: 0;
                margin-bottom: 0.5em;
                color: red;
                font-size: 0.8rem;
            }

            button {

                background: $main-color;
                color: white;
                display: block;
                margin: 0;
                padding: .4em 1em;
                border: none;
                cursor: pointer;
                font-family: poppins;
                margin-bottom: 1em;
                transition: 0.5s;
            }

        }
    }

    .active {
        height: auto !important;

        @include tablet {
            width: 300px !important;
            height: auto !important;
        }
    }
    /* https://loading.io/css/ */
    .lds-ellipsis {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
    }

    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: $main-color;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }

    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0);
        }
    }

    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(24px, 0);
        }
    }

    .white-spinner div{
        background: $light;
        top: 0%;
    }


}
